.button_hover{
    transition: 0.5s;
}
.button_hover:hover
{
    background-color: tomato;
    border:1px solid tomato;
}
h2{
    font-size: 18px;
    text-transform: capitalize;
}
.extra h2
{
    font-size:32px;
    text-transform: uppercase;
}

.img_hover
{

    transform: scale(1);
}
.img_hover:hover
{   box-sizing: border-box;
    transform: scale(1.01);
}

.detail_img
{
    transform: scale(1);
}
.detail_img:hover
{
    transform: scale(1.2);
}
.about_header
{
    font-size: 32px;
    background-color: #818FB4;
    color: #fff;
}

